*
{
	margin: 0;
	padding: 0;
}
/*---------barra de navegacion-----------*/
#nav-bar 
{
	position: sticky;
	top: 0;
	z-index: 10;
    
}

.navbar-brand{
    padding: 0px !important;
    height: 120PX;
    
}


.navbar-brand img
{
	height:100%;
	padding-left:30px;
}

.navbar-nav li
{
	padding: 0 20px;
}

.navbar-nav li a
{
	float: right;
	text-align: left;
}
/*---Color importante-----*/
#nav-bar ul li a:hover 
{
	color: #204050!important;
}

.navbar
{

	background: #7F9B7C;
}

.navbar-toggler 
{
	border: none!important;
}

.nav-link
{
	color: #fff!important;
	
	font-size: 20px !important;
	font-weight: bold !important;
}

/*----------Slider---------*/

#slider
{
	width: 100%;
}

.carousel-caption
{
	top: 25%;
	transform: translateY(1%);
	bottom: initial!important;
}

.carousel-caption h5
{
	color: #fff;
	font-size: 42px;
}

/*-----nosotros---*/

#about 
{
	padding-top: 50px;
	padding-bottom: 50px;
	color: #555;
	text-align: center;
}

#about .btn
{
	margin-top: 20px;
	margin-bottom: 30px;


}

.about-content
{
	padding-top: 20px;
	border-radius: 16px !important;
}

.btn,
.btn:hover,
.btn:active
{
	background: #FFA500!important;
	border-color: #FFA500!important;
}

/*----------Servicios---------*/

#services
{
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(img/servicios.jpg);
	background-size: cover;
	background-position: center;
	color: #efefef!important;
	background-attachment: fixed;
	padding-top: 50px;
	padding-bottom: 50px; 
}

#services h1
{
	text-align: center;
	color: #efefef!important;
	padding-bottom: 10px;
}

#services h1::after
{
	content: '';
	background: #efefef;
	display: block;
	height: 3px;
	width: 220px;
	margin: 20px auto 5px;

}

.services
{
	margin-top: 40px;
}

.icon
{
	font-size: 40px;
	margin: 20px auto;
	padding: 20px;
	height: 80px;
	width: 80px;
}

#services p 
{
	font-size: 14px;
	margin-top: 20px;
	color: #ccc;
}

.services .col-md-3:hover
{
	background: #FFA500;
	cursor:pointer;
	transition: 0.7s;
}

/*-----proyectos------*/

h1
{
	text-align: center;
	color: #555 !important;
	padding-bottom: 10px;
}

h1::after
{
	content: '';
	background: #FFA500;
	display: block;
	height: 3px;
	width: 150px;
	margin: 20px auto 5px;
	padding-bottom: 0px;

	}

#proyects
{
	padding-top: 50px;
	padding-bottom: 50px; 
}

#proyects .row
{
	margin-top:0px; 
}

.col-md-4
{
	margin: 40px auto;
}

.profile
{
	padding: 20px 10px 10px ;
	background-color: #efefef; 
}

.proyec
{
	width:200px;
	height:200px;
	border-radius: 50%;
}

.profile .img
{
	top: -60px;
	position: absolute;
	left: calc(50% - 60px);
	border: 10px solid #fff;
}

.profile h3
{
	font-size: 20px;
	margin-top: 15px;
	color: #FFA500;
}

/*
#proyects span
{
	font-size: 12;
	color: #333;
}
*/

p
{
	font-size: 25px;
	line-height: 30px;
}

blockquote::before
{
	
	font-size: 50px;
	color: #FFA500;
	position: relative;
	line-height: 20px;
	bottom: -15px;
	right: 5px;

}

.profile:hover
{
	box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
	cursor: pointer;
	transition: 0.5s;
}

/*------contactanos-------*/

#contact
{
	background:#efefef ;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #777;
}

.contact-form
{
	padding: 15px;
}

.form-control
{
	border-radius: 0!important;
	border:none !important;
}

::placeholder
{
	color: #999!important;
}

.follow
{
	background: #fff;
	padding: 10px;
	margin: 15px;
}

.contact-info .fa
{
	margin-top: 10px;
	color: #FFA500!important;
	font-weight: bold;
}

/*-------footer-------*/


.footer {
	color: #f7f7f7;
	background-color: #204050;
	box-sizing: border-box;
	padding: 0 5%;
  }
  
  .footer__main {
	padding: 5%;
	display: flex;
  justify-content: space-between; 
	flex-wrap: wrap;
	gap: 2rem;
  }
  
  .footer__item {
  max-width: 307px; 
  }
  
  @media screen and (min-width: 768px) {
	.footer__item {
     width: 50%; 
     max-width: min(100%, calc(100% / 4)); 
	}
  }
  
  .footer__logo {
	margin: 0;
  }
  
  .footer__description {
	width: 90%;
  }
  
  .footer__description.footer__text {
	line-height: 1.5rem;
  }
  
  .footer__title {
	margin-top: 0;
	margin-bottom: 0.5rem;
  }
  
  .footer__text {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: #0d0d0d;
	margin-top: 0;
	line-height: 1.3rem;
  }

  
  .footer__text--gray {
	color: #a3a2a3;
  }
  
  .footer__network {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5%;
	
  }
  
  .footer__network-icon {
	text-align: center;
	
	justify-content: center;
	line-height: 2.1rem;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background-color: #cacaca;
	color: #141414;
	font-size: 1.5rem;
  }
  
  .footer__list {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
  }
  .footer__list-item-li{
	text-align: center;
	padding-left: 30%;
	padding-bottom: 5%;
  }
  .footer__list-item:not(:first-child) {
	margin: 0.5rem 0;
  }
  
  .footer__list-link {
	display: inline-block;
	padding: 2% 0;
	transition: all 0.2s ease;
  }
  .footer__list-link:hover{
	color: #ffa500 !important;
  }
  /* 
  .footer__form {
	  width: 100%;
  } */
  
  .footer__form-group {
	padding: 0;
	margin: 0;
	border: none;
	display: flex;
	background-color: #0d0d0d;
	border-radius: 8px;
  }
  
  .footer__form-field {
	width: 100%;
	margin-right: 2px;
	padding: 5% 8%;
	border: none;
	border-radius: 8px 0 0 8px;
	background-color: #0d0d0d;
	color: #f7f7f7;
	font-size: 1rem;
  }
  
  .footer__form-button {
	padding: 5% 8%;
	font-size: 1rem;
	flex-basis: 1px;
	background-color: #400763;
	border: 1px solid #400763;
	color: inherit;
	border-radius: 0 8px 8px 0;
	cursor: pointer;
  }
  
  .footer__footer {
	text-align: center;
	border-top: 3px solid #919191;
	background-color: #204050;
	padding: min(2rem, 5%);
  }
  
  @media screen and (hover: hover) {
	.footer__list-link:hover {
	  color: #f7f7f7;
	}
  
	.footer__form-button:hover {
	  mix-blend-mode: screen;
	}
  }
  